<app-loader *ngIf="isLoading"></app-loader>
<div class="p-4" *ngIf="!isLoading">
    <!-- Filters -->
    <div class="mb-4 grid grid-cols-1 md:grid-cols-7 gap-4">
        <div>
            <label class="block mb-1 font-medium">TS Start Date</label>
            <input type="date" [(ngModel)]="filters.startDate" class="w-full border p-2 rounded" />
        </div>
        <div>
            <label class="block mb-1 font-medium">TS End Date</label>
            <input type="date" [(ngModel)]="filters.endDate" class="w-full border p-2 rounded" />
        </div>
    </div>

    <!-- Chart Section -->
    <p-fluid class="grid grid-cols-12 gap-8">
        <!-- Pie Chart Area -->
        <div class="col-span-12 xl:col-span-6 mb-6">
            <app-pie-chart [data]="projectTableData" [selectedGeography]="selectedGeography" [selectedGeographyIndex]="selectedGeographyIndex" (geographySelected)="onGeographySelected($event)"> </app-pie-chart>
        </div>

        <!-- Bar Chart Area -->
        <div class="col-span-12 xl:col-span-6 mb-6">
            <app-bar-chart [data]="projectTableData" [selectedDepartment]="selectedDepartment" [selectedGeography]="selectedGeography"> </app-bar-chart>
        </div>
    </p-fluid>

    <!-- Table Area -->
    <div class="p-mt-4" *ngIf="projectTableData.length">
        <p-card class="dark:bg-gray-800 bg-white shadow rounded-lg">
            <ng-template pTemplate="header">
                <h2 class="text-xl font-bold mb-2">Project Table</h2>
            </ng-template>
            <app-project-table [projectTableData]="projectTableData" [exportData]="exportData"> </app-project-table>
        </p-card>
    </div>
</div>
