<app-loader *ngIf="isLoading"></app-loader>
<div class="p-0" *ngIf="!isLoading">
    <!-- Filters -->
    <div class="mb-4 grid grid-cols-1 md:grid-cols-9 gap-2">
        <div>
            <datepicker-icon-demo label="Start Date" [dateStr]="startDate" (dateStrChange)="onDateChange('start', $event)" [showError]="showStartDateError"> </datepicker-icon-demo>
        </div>
        <div>
            <datepicker-icon-demo label="End Date" [dateStr]="endDate" [minDate]="minEndDate" (dateStrChange)="onDateChange('end', $event)" [showError]="showEndDateError"> </datepicker-icon-demo>
        </div>
        <ng-container *ngIf="startDate && endDate">
            <div>
                <multi-select-basic-demo *ngIf="empDepartmentOptions.length" [options]="empDepartmentOptions" [(selectedValue)]="emp_department" label="Employee Dept"> </multi-select-basic-demo>
            </div>
            <div>
                <multi-select-basic-demo *ngIf="positionTitleOptions.length" [options]="positionTitleOptions" [(selectedValue)]="positionTitle" label="Position Title"> </multi-select-basic-demo>
            </div>
            <div>
                <multi-select-basic-demo *ngIf="proDepartmentOptions.length" [options]="proDepartmentOptions" [(selectedValue)]="pro_department" label="Project Dept"></multi-select-basic-demo>
            </div>
            <div>
                <multi-select-basic-demo *ngIf="geographyOptions.length" [options]="geographyOptions" [(selectedValue)]="geography" label="Geography"> </multi-select-basic-demo>
            </div>
            <div>
                <multi-select-basic-demo *ngIf="employeeOptions.length" [options]="employeeOptions" [(selectedValue)]="emp_name" label="Employee"> </multi-select-basic-demo>
            </div>
            <div>
                <multi-select-basic-demo *ngIf="projectOptions.length" [options]="projectOptions" [(selectedValue)]="project" label="Project"> </multi-select-basic-demo>
            </div>
            <div class="flex items-end gap-1">
                <p-button (click)="applyFilters()" label="Apply" class="w-full md:w-auto"></p-button>
                <p-button (click)="resetFilters()" label="Reset" class="w-full md:w-auto"></p-button>
            </div>
        </ng-container>
    </div>

    <!-- Expanded Pie Chart View -->
    <div *ngIf="expandedComponent === 'pie'" class="fixed top-0 left-0 w-screen h-screen z-[9999] bg-white p-4 overflow-auto">
        <app-pie-chart
            [data]="projectTableData"
            [selectedGeography]="selectedGeography"
            [selectedGeographyIndex]="selectedGeographyIndex"
            [isExpanded]="isExpanded"
            [expandedComponent]="expandedComponent"
            (geographyClick)="handleGeographyClick($event)"
            (toggleExpand)="toggleExpand($event)"
        >
            >
        </app-pie-chart>
    </div>

    <!-- Expanded Bar Chart View -->
    <div *ngIf="expandedComponent === 'bar'" class="fixed top-0 left-0 w-screen h-screen z-[9999] bg-white p-4 overflow-auto">
        <app-bar-chart
            [data]="projectTableData"
            [selectedDepartment]="selectedDepartment"
            [selectedGeography]="selectedGeography"
            [isExpanded]="isExpanded"
            [expandedComponent]="expandedComponent"
            (departmentClick)="handleDepartmentClick($event)"
            (toggleExpand)="toggleExpand($event)"
        >
        </app-bar-chart>
    </div>

    <!-- Chart Section -->
    <p-fluid class="grid grid-cols-12 gap-8">
        <!-- Pie Chart Area -->
        <div class="col-span-12 xl:col-span-6 mb-4" *ngIf="projectTableData.length">
            <app-pie-chart
                [data]="projectTableData"
                [selectedGeography]="selectedGeography"
                [selectedGeographyIndex]="selectedGeographyIndex"
                [isExpanded]="isExpanded"
                [expandedComponent]="expandedComponent"
                (geographyClick)="handleGeographyClick($event)"
                (toggleExpand)="toggleExpand('pie')"
            >
            </app-pie-chart>
        </div>

        <!-- Bar Chart Area -->
        <div class="col-span-12 xl:col-span-6 mb-4" *ngIf="projectTableData.length">
            <app-bar-chart
                [data]="projectTableData"
                [selectedDepartment]="selectedDepartment"
                [selectedGeography]="selectedGeography"
                [isExpanded]="isExpanded"
                [expandedComponent]="expandedComponent"
                (departmentClick)="handleDepartmentClick($event)"
                (toggleExpand)="toggleExpand('bar')"
            >
            </app-bar-chart>
        </div>
    </p-fluid>
    <!-- Data Table -->
    <!-- Fullscreen Expanded Table View -->
    <div *ngIf="expandedComponent === 'table'" class="fixed top-0 left-0 w-screen h-screen z-[9999] bg-white p-4 overflow-auto">
        <app-project-table [projectTableData]="projectTableData" [isExpanded]="isExpanded" [expandedComponent]="expandedComponent" [exportData]="exportData" (toggleExpand)="toggleExpand($event)"></app-project-table>
    </div>

    <!-- Normal View Table -->
    <div class="p-mt-4" *ngIf="projectTableData.length && !isExpanded">
        <app-project-table [projectTableData]="projectTableData" [isExpanded]="isExpanded" [expandedComponent]="expandedComponent" [exportData]="exportData" (toggleExpand)="toggleExpand($event)"></app-project-table>
    </div>
</div>
