
<app-loader *ngIf="isLoading" ></app-loader>
<div class="p-4" *ngIf="!isLoading">

    <!-- Filters -->
    <div class="mb-4 grid grid-cols-1 md:grid-cols-8 gap-4" >
        <div>
            <label class="block mb-1 font-medium">TS Start Date</label>
            <input type="date" [(ngModel)]="startDate" class="w-full border p-2 rounded" />
        </div>
        <div>
            <label class="block mb-1 font-medium">TS End Date</label>
            <input type="date" [(ngModel)]="endDate" class="w-full border p-2 rounded" />
        </div>
        <div>
            <label class="block mb-1 font-medium">Department</label>
            <select [(ngModel)]="department" class="w-full border p-2 rounded">
                <option value="">All</option>
                <option *ngFor="let Department of DepartmentList" [value]="Department">{{ Department }}</option>
                
            </select>
        </div>
        <div>
            <label class="block mb-1 font-medium">Position Title</label>
            <select [(ngModel)]="positionTitle" class="w-full border p-2 rounded">
                <option value="">All</option>
                <option *ngFor="let role of rolesList" [value]="role">{{ role }}</option>
            </select>
        </div>
        <div>
            <label class="block mb-1 font-medium">Region</label>
            <select [(ngModel)]="geography" class="w-full border p-2 rounded">
                <option value="">All</option>
                <option *ngFor="let Region of RegionList" [value]="Region">{{ Region }}</option>
                
            </select>
        </div>

        <div>
            <label class="block mb-1 font-medium">Project</label>
            <select [(ngModel)]="project" class="w-full border p-2 rounded">
                <option value="">All</option>
                <option *ngFor="let Project of ProjectList" [value]="Project">{{ Project }}</option>
                
            </select>
        </div>
        <div>
            <label class="block mb-1 font-medium">Employee</label>
            <select [(ngModel)]="emp_name" class="w-full border p-2 rounded">
                <option value="">All</option>
                <option *ngFor="let Employee of EmployeeList" [value]="Employee">{{ Employee }}</option>
            </select>
        </div>
        <div class="flex items-end">
            <button (click)="applyFilters()" class="bg-blue-500 text-white  py-2 rounded hover:bg-blue-600 w-full mr-2">Apply Filters</button>
            <button (click)="resetFilters()" class="bg-blue-500 text-white  py-2 rounded hover:bg-blue-600 w-full">Reset Filters</button>
        </div>
        
    </div>
    
        <!-- Data Table -->
        <div class="p-mt-4" *ngIf="projectTableData.length">
        <app-project-table
        *ngIf="projectTableData.length"
        [projectTableData]="projectTableData"
        
        [exportData]="exportData"
        />
        </div>
</div>
