<!-- <div>
    <p-dropdown [options]="projectOptions" [(ngModel)]="selectedProject"
        (ngModelChange)="selectedProjectChange.emit($event)" [filter]="true" [showClear]="false" optionLabel="label"
        optionValue="value" placeholder="Select a Project" class="w-full">
    </p-dropdown>
</div> -->
<div>
  <label class="block mb-1 font-medium">{{ label }}</label>
  <p-dropdown 
    [options]="options" 
    [(ngModel)]="selectedValue" 
    (onChange)="onChange($event.value)" 
    placeholder="All"
    [filter]="true"
    class="w-full"
    [disabled]="isDisabled"
  ></p-dropdown>
</div>