<div class="p-mt-4" *ngIf="projectTableData.length">
    <p-table
        [value]="flatData"
        [resizableColumns]="true"
        [rows]="10"
        [scrollable]="true"
        showCurrentPageReport="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        scrollHeight="500px"
        [rowsPerPageOptions]="[10, 20, 50, 100]"
        [paginator]="true"
        columnResizeMode="fit"
        [tableStyle]="{ 'min-width': '50rem' }"
        class="custom-table"
    >
        <!-- Caption with Search and Button Group -->
        <ng-template pTemplate="caption">
            <div class="flex justify-between items-center w-full p-2">
                <!-- Search Input -->
                <div class="relative w-64">
                    <span class="absolute inset-y-0 left-0 flex items-center pl-3">
                        <i class="pi pi-search text-gray-400"></i>
                    </span>
                    <input type="text" (input)="onGlobalFilter($event)" placeholder="Search keyword" class="w-full pl-10 pr-3 py-2 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 transition-all duration-300" />
                </div>

                <!-- Button Group -->
                <div class="flex items-center space-x-1">
                    <button class="text-gray-600 hover:text-black h-[38px] flex items-center justify-center" pButton icon="pi pi-file-excel" label="Export" (click)="exportData()" styleClass="p-button-text p-2"></button>

                    <button
                        class="text-gray-600 hover:text-black h-[38px] flex items-center justify-center"
                        pButton
                        [icon]="isExpanded && expandedComponent === 'table' ? 'pi pi-times' : 'pi pi-expand'"
                        [pTooltip]="isExpanded && expandedComponent === 'table' ? 'Collapse View' : 'Expand View'"
                        tooltipPosition="top"
                        (click)="toggleExpand.emit('table')"
                        styleClass="p-button-text p-2"
                    ></button>
                </div>
            </div>
        </ng-template>

        <!-- Table Header -->
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="employee">
                    Employee
                    <p-sortIcon field="employee"></p-sortIcon>
                    <p-columnFilter field="employee" matchMode="in" display="menu" [showMatchModes]="false" [showOperator]="false" [showAddButton]="false">
                        <ng-template pTemplate="header">
                            <div class="px-3 pt-3 pb-0">
                                <span class="font-bold">Name Picker</span>
                            </div>
                        </ng-template>

                        <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                            <p-multiSelect [ngModel]="value" (ngModelChange)="filter($event)" [options]="EmployeeNames" placeholder="Any" display="chip">
                                <ng-template let-option pTemplate="item">
                                    <span class="ml-1">{{ option }}</span>
                                </ng-template>
                            </p-multiSelect>
                        </ng-template>
                    </p-columnFilter>
                </th>
                <th pSortableColumn="sg_position_title">
                    Position Title
                    <p-sortIcon field="sg_position_title"></p-sortIcon>
                    <p-columnFilter field="sg_position_title" matchMode="in" display="menu" [showMatchModes]="false" [showOperator]="false" [showAddButton]="false">
                        <ng-template pTemplate="header">
                            <div class="px-3 pt-3 pb-0">
                                <span class="font-bold">Name Picker</span>
                            </div>
                        </ng-template>

                        <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                            <p-multiSelect [ngModel]="value" (ngModelChange)="filter($event)" [options]="PositionTitle" placeholder="Any" display="chip">
                                <ng-template let-option pTemplate="item">
                                    <span class="ml-1">{{ option }}</span>
                                </ng-template>
                            </p-multiSelect>
                        </ng-template>
                    </p-columnFilter>
                </th>
                <th pSortableColumn="sg_employee_department">
                    Department
                    <p-sortIcon field="sg_employee_department"></p-sortIcon>
                    <p-columnFilter field="sg_employee_department" matchMode="in" display="menu" [showMatchModes]="false" [showOperator]="false" [showAddButton]="false">
                        <ng-template pTemplate="header">
                            <div class="px-3 pt-3 pb-0">
                                <span class="font-bold">Name Picker</span>
                            </div>
                        </ng-template>

                        <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                            <p-multiSelect [ngModel]="value" (ngModelChange)="filter($event)" [options]="Department" placeholder="Any" display="chip">
                                <ng-template let-option pTemplate="item">
                                    <span class="ml-1">{{ option }}</span>
                                </ng-template>
                            </p-multiSelect>
                        </ng-template>
                    </p-columnFilter>
                </th>
                <!-- <th pSortableColumn="project">
                    Project
                    <p-sortIcon field="project"></p-sortIcon>
                </th>
                <th pSortableColumn="sg_geography">
                    Geography
                    <p-sortIcon field="sg_geography"></p-sortIcon>
                </th> -->
                <th pSortableColumn="project">
                    Project
                    <p-sortIcon field="project"></p-sortIcon>
                    <p-columnFilter field="project" matchMode="in" display="menu" [showMatchModes]="false" [showOperator]="false" [showAddButton]="false">
                        <ng-template pTemplate="header">
                            <div class="px-3 pt-3 pb-0">
                                <span class="font-bold">Project Picker</span>
                            </div>
                        </ng-template>

                        <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                            <p-multiSelect [ngModel]="value" (ngModelChange)="filter($event)" [options]="Project" placeholder="Any" display="chip">
                                <ng-template let-option pTemplate="item">
                                    <span class="ml-1">{{ option }}</span>
                                </ng-template>
                            </p-multiSelect>
                        </ng-template>
                    </p-columnFilter>
                </th>
                <th pSortableColumn="sg_geography">
                    Geography
                    <p-sortIcon field="sg_geography"></p-sortIcon>
                    <p-columnFilter field="sg_geography" matchMode="in" display="menu" [showMatchModes]="false" [showOperator]="false" [showAddButton]="false">
                        <ng-template pTemplate="header">
                            <div class="px-3 pt-3 pb-0">
                                <span class="font-bold">Geography Picker</span>
                            </div>
                        </ng-template>

                        <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                            <p-multiSelect [ngModel]="value" (ngModelChange)="filter($event)" [options]="Geography" placeholder="Any" display="chip">
                                <ng-template let-option pTemplate="item">
                                    <span class="ml-1">{{ option }}</span>
                                </ng-template>
                            </p-multiSelect>
                        </ng-template>
                    </p-columnFilter>
                </th>
                <th pSortableColumn="sg_position_role">
                    Role
                    <p-sortIcon field="sg_position_role"></p-sortIcon>
                    <p-columnFilter field="sg_position_role" matchMode="in" display="menu" [showMatchModes]="false" [showOperator]="false" [showAddButton]="false">
                        <ng-template pTemplate="header">
                            <div class="px-3 pt-3 pb-0">
                                <span class="font-bold">Name Picker</span>
                            </div>
                        </ng-template>

                        <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                            <p-multiSelect [ngModel]="value" (ngModelChange)="filter($event)" [options]="Role" placeholder="Any" display="chip">
                                <ng-template let-option pTemplate="item">
                                    <span class="ml-1">{{ option }}</span>
                                </ng-template>
                            </p-multiSelect>
                        </ng-template>
                    </p-columnFilter>
                </th>
                <!-- <th pSortableColumn="billing_status">
                    Billing Status
                    <p-sortIcon field="billing_status"></p-sortIcon>
                </th>
                <th pSortableColumn="sg_billing_method">
                    Billing Method
                    <p-sortIcon field="sg_billing_method"></p-sortIcon>
                </th> -->
                <th pSortableColumn="billing_status">
                    Billing Status
                    <p-sortIcon field="billing_status"></p-sortIcon>
                    <p-columnFilter field="billing_status" matchMode="in" display="menu" [showMatchModes]="false" [showOperator]="false" [showAddButton]="false">
                        <ng-template pTemplate="header">
                            <div class="px-3 pt-3 pb-0">
                                <span class="font-bold">Billing Status Picker</span>
                            </div>
                        </ng-template>

                        <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                            <p-multiSelect [ngModel]="value" (ngModelChange)="filter($event)" [options]="BillingStatus" placeholder="Any" display="chip">
                                <ng-template let-option pTemplate="item">
                                    <span class="ml-1">{{ option }}</span>
                                </ng-template>
                            </p-multiSelect>
                        </ng-template>
                    </p-columnFilter>
                </th>

                <th pSortableColumn="sg_billing_method">
                    Billing Method
                    <p-sortIcon field="sg_billing_method"></p-sortIcon>
                    <p-columnFilter field="sg_billing_method" matchMode="in" display="menu" [showMatchModes]="false" [showOperator]="false" [showAddButton]="false">
                        <ng-template pTemplate="header">
                            <div class="px-3 pt-3 pb-0">
                                <span class="font-bold">Billing Method Picker</span>
                            </div>
                        </ng-template>

                        <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                            <p-multiSelect [ngModel]="value" (ngModelChange)="filter($event)" [options]="BillingMethod" placeholder="Any" display="chip">
                                <ng-template let-option pTemplate="item">
                                    <span class="ml-1">{{ option }}</span>
                                </ng-template>
                            </p-multiSelect>
                        </ng-template>
                    </p-columnFilter>
                </th>
                <th pSortableColumn="total_leave">
                    Total Leave
                    <p-sortIcon field="total_leave"></p-sortIcon>
                </th>
                <th pSortableColumn="GCW_hrs">
                    GCW Hrs.
                    <p-sortIcon field="GCW_hrs"></p-sortIcon>
                </th>
                <th pSortableColumn="missing_timeSheet">
                    Missing TimeSheet Hrs.
                    <p-sortIcon field="missing_timeSheet"></p-sortIcon>
                </th>
                <th pSortableColumn="total_ts_fill_hrs">
                    Total TimeSheet Fill Hrs.
                    <p-sortIcon field="total_ts_fill_hrs"></p-sortIcon>
                </th>
                <th pSortableColumn="total_billable_hr_company">
                    Total Billable Hrs. (Org)
                    <p-sortIcon field="total_billable_hr_company"></p-sortIcon>
                </th>
                <th pSortableColumn="total_billable_hr_person">
                    Total Billable Hrs. (Utilization)
                    <p-sortIcon field="total_billable_hr_person"></p-sortIcon>
                </th>
                <th pSortableColumn="total_non_billable_hr">
                    Total Non-Billable Hrs.
                    <p-sortIcon field="total_non_billable_hr"></p-sortIcon>
                </th>
                <th pSortableColumn="company_billability">
                    Org Billability %
                    <p-sortIcon field="company_billability"></p-sortIcon>
                </th>
                <th pSortableColumn="person_billability">
                    Utilization %
                    <p-sortIcon field="person_billability"></p-sortIcon>
                </th>
            </tr>
        </ng-template>

        <!-- Table Body -->
        <ng-template pTemplate="body" let-row>
            <tr>
                <td>{{ row.employee }}</td>
                <td>{{ row.sg_position_title }}</td>
                <td>{{ row.sg_employee_department }}</td>
                <td>{{ row.project }}</td>
                <td>{{ row.sg_geography }}</td>
                <td>{{ row.sg_position_role }}</td>
                <td>{{ row.billing_status }}</td>
                <td>{{ row.sg_billing_method }}</td>
                <td>{{ row.total_leave }}</td>
                <td>{{ row.GCW_hrs }}</td>
                <td>{{ row.missing_timeSheet }}</td>
                <td>{{ row.total_ts_fill_hrs }}</td>
                <td>{{ row.total_billable_hr_company }}</td>
                <td>{{ row.total_billable_hr_person }}</td>
                <td>{{ row.total_non_billable_hr }}</td>
                <td>{{ row.company_billability.toFixed(2) }}%</td>
                <td>{{ row.person_billability.toFixed(2) }}%</td>
            </tr>
        </ng-template>
    </p-table>
</div>
