<div class="p-mt-4" *ngIf="displayedData.length">
    <p-table
        class="custom-table"
        #dt2
        [value]="displayedData"
        [scrollable]="true"
        scrollHeight="500px"
        [resizableColumns]="true"
        [paginator]="true"
        [rows]="10"
        [rowsPerPageOptions]="[10, 20, 50, 100]"
        columnResizeMode="fit"
        [globalFilterFields]="[
            'Project',
            'Work Contract Name',
            'Project Manager',
            'Billing Method',
            'PWO Name',
            'Position Role',
            'WCT Status',
            'Resource Name',
            'TS Approver',
            'Position Title',
            'Billing Status',
            'Resource Utilization',
            'Hourly Rate',
            'Currency',
            'Allocated Hrs.',
            'Rem. Hrs.',
            'Start Date',
            'End Date'
        ]"
    >
        <ng-template pTemplate="caption">
            <div class="flex justify-between items-center w-full p-2">
                <!-- Search Bar -->
                <div class="relative w-64">
                    <span class="absolute inset-y-0 left-0 flex items-center pl-3">
                        <i class="pi pi-search text-gray-400"></i>
                    </span>
                    <input
                        #globalFilterInput
                        pInputText
                        type="text"
                        (input)="onGlobalFilter($event, dt2)"
                        placeholder="Search keyword"
                        class="w-full pl-10 pr-3 py-2 h-[38px] rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 transition-all duration-300"
                    />
                </div>

                <!-- Button Group -->
                <div class="flex items-center space-x-1">
                    <button class="text-gray-600 hover:text-black h-[38px] flex items-center justify-center" pButton icon="pi pi-file-excel" label="Export" (click)="exportToExcel()" styleClass="p-button-text p-2"></button>

                    <button
                        class="text-gray-600 hover:text-black h-[38px] flex items-center justify-center"
                        pButton
                        [icon]="isExpanded && expandedComponent === 'table' ? 'pi pi-times' : 'pi pi-expand'"
                        [pTooltip]="isExpanded && expandedComponent === 'table' ? 'Collapse View' : 'Expand View'"
                        tooltipPosition="top"
                        (click)="toggleExpand.emit('table')"
                        styleClass="p-button-text p-2"
                    ></button>
                </div>
            </div>
        </ng-template>

        <!-- Table Header -->
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="Project">
                    Project
                    <p-sortIcon field="Project"></p-sortIcon>
                    <p-columnFilter field="Project" matchMode="in" display="menu" [showMatchModes]="false" [showOperator]="false" [showAddButton]="false">
                        <ng-template pTemplate="header">
                            <div class="px-3 pt-3 pb-0">
                                <span class="font-bold">Project Picker</span>
                            </div>
                        </ng-template>
                        <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                            <p-multiSelect [ngModel]="value" (ngModelChange)="filter($event)" [options]="ProjectNames" placeholder="Any" display="chip">
                                <ng-template let-option pTemplate="item">
                                    <span class="ml-1">{{ option }}</span>
                                </ng-template>
                            </p-multiSelect>
                        </ng-template>
                    </p-columnFilter>
                </th>

                <!-- Work Contract Name (WC) Column -->
                <th pSortableColumn="Work Contract Name">
                    WC
                    <p-sortIcon field="Work Contract Name"></p-sortIcon>
                    <p-columnFilter field="Work Contract Name" matchMode="in" display="menu" [showMatchModes]="false" [showOperator]="false" [showAddButton]="false">
                        <ng-template pTemplate="header">
                            <div class="px-3 pt-3 pb-0">
                                <span class="font-bold">WC Picker</span>
                            </div>
                        </ng-template>
                        <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                            <p-multiSelect [ngModel]="value" (ngModelChange)="filter($event)" [options]="WorkContractNames" placeholder="Any" display="chip">
                                <ng-template let-option pTemplate="item">
                                    <span class="ml-1">{{ option }}</span>
                                </ng-template>
                            </p-multiSelect>
                        </ng-template>
                    </p-columnFilter>
                </th>

                <!-- PWO Name Column -->
                <th pSortableColumn="PWO Name">
                    PWO Name
                    <p-sortIcon field="PWO Name"></p-sortIcon>
                    <p-columnFilter field="PWO Name" matchMode="in" display="menu" [showMatchModes]="false" [showOperator]="false" [showAddButton]="false">
                        <ng-template pTemplate="header">
                            <div class="px-3 pt-3 pb-0">
                                <span class="font-bold">PWO Picker</span>
                            </div>
                        </ng-template>
                        <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                            <p-multiSelect [ngModel]="value" (ngModelChange)="filter($event)" [options]="PWONames" placeholder="Any" display="chip">
                                <ng-template let-option pTemplate="item">
                                    <span class="ml-1">{{ option }}</span>
                                </ng-template>
                            </p-multiSelect>
                        </ng-template>
                    </p-columnFilter>
                </th>
                <th pSortableColumn="Resource Name">
                    Resource Name
                    <p-sortIcon field="Resource Name"></p-sortIcon>
                    <p-columnFilter field="Resource Name" matchMode="in" display="menu" [showMatchModes]="false" [showOperator]="false" [showAddButton]="false">
                        <ng-template pTemplate="header">
                            <div class="px-3 pt-3 pb-0">
                                <span class="font-bold">Name Picker</span>
                            </div>
                        </ng-template>

                        <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                            <p-multiSelect [ngModel]="value" (ngModelChange)="filter($event)" [options]="ResourcesNames" placeholder="Any" display="chip">
                                <ng-template let-option pTemplate="item">
                                    <span class="ml-1">{{ option }}</span>
                                </ng-template>
                            </p-multiSelect>
                        </ng-template>
                    </p-columnFilter>
                </th>
                <th pSortableColumn="Last Ts Date">
                    Last Ts Date
                    <p-sortIcon field="Last Ts Date"></p-sortIcon>
                    <p-columnFilter type="date" field="Last Ts Date Object" display="menu"></p-columnFilter>
                </th>
                <th pSortableColumn="alloHrs">
                    Allocated Hrs.
                    <p-sortIcon field="alloHrs"></p-sortIcon>
                </th>
                <th pSortableColumn="consumedHrs">
                    Consumed Hrs.
                    <p-sortIcon field="consumedHrs"></p-sortIcon>
                </th>
                <th pSortableColumn="remHrs">
                    Rem. Hrs.
                    <p-sortIcon field="remHrs"></p-sortIcon>
                </th>
                <th pSortableColumn="Billing Status">
                    Billing Status
                    <p-sortIcon field="Billing Status"></p-sortIcon>
                    <p-columnFilter field="Billing Status" matchMode="in" display="menu" [showMatchModes]="false" [showOperator]="false" [showAddButton]="false">
                        <ng-template pTemplate="header">
                            <div class="px-3 pt-3 pb-0">
                                <span class="font-bold">Name Picker</span>
                            </div>
                        </ng-template>

                        <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                            <p-multiSelect [ngModel]="value" (ngModelChange)="filter($event)" [options]="BillingStatus" placeholder="Any" display="chip">
                                <ng-template let-option pTemplate="item">
                                    <span class="ml-1">{{ option }}</span>
                                </ng-template>
                            </p-multiSelect>
                        </ng-template>
                    </p-columnFilter>
                </th>
                <th pSortableColumn="Rate Card">
                    Rate Card
                    <p-sortIcon field="Rate Card"></p-sortIcon>
                    <p-columnFilter field="Rate Card" matchMode="in" display="menu" [showMatchModes]="false" [showOperator]="false" [showAddButton]="false">
                        <ng-template pTemplate="header">
                            <div class="px-3 pt-3 pb-0">
                                <span class="font-bold">Rate Card Picker</span>
                            </div>
                        </ng-template>
                        <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                            <p-multiSelect [ngModel]="value" (ngModelChange)="filter($event)" [options]="RateCard" placeholder="Any" display="chip">
                                <ng-template let-option pTemplate="item">
                                    <span class="ml-1">{{ option }}</span>
                                </ng-template>
                            </p-multiSelect>
                        </ng-template>
                    </p-columnFilter>
                </th>
                <th pSortableColumn="Position Role">
                    Role
                    <p-sortIcon field="Position Role"></p-sortIcon>
                    <p-columnFilter field="Position Role" matchMode="in" display="menu" [showMatchModes]="false" [showOperator]="false" [showAddButton]="false">
                        <ng-template pTemplate="header">
                            <div class="px-3 pt-3 pb-0">
                                <span class="font-bold">Name Picker</span>
                            </div>
                        </ng-template>

                        <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                            <p-multiSelect [ngModel]="value" (ngModelChange)="filter($event)" [options]="Role" placeholder="Any" display="chip">
                                <ng-template let-option pTemplate="item">
                                    <span class="ml-1">{{ option }}</span>
                                </ng-template>
                            </p-multiSelect>
                        </ng-template>
                    </p-columnFilter>
                </th>
                <th pSortableColumn="Position Title">
                    Position Title
                    <p-sortIcon field="Position Title"></p-sortIcon>
                    <p-columnFilter field="Position Title" matchMode="in" display="menu" [showMatchModes]="false" [showOperator]="false" [showAddButton]="false">
                        <ng-template pTemplate="header">
                            <div class="px-3 pt-3 pb-0">
                                <span class="font-bold">Name Picker</span>
                            </div>
                        </ng-template>

                        <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                            <p-multiSelect [ngModel]="value" (ngModelChange)="filter($event)" [options]="PositionTitle" placeholder="Any" display="chip">
                                <ng-template let-option pTemplate="item">
                                    <span class="ml-1">{{ option }}</span>
                                </ng-template>
                            </p-multiSelect>
                        </ng-template>
                    </p-columnFilter>
                </th>
                <th pSortableColumn="ResUti">
                    Resource Utilization
                    <p-sortIcon field="ResUti"></p-sortIcon>
                </th>
                <th pSortableColumn="HrRate">
                    Hourly Rate
                    <p-sortIcon field="HrRate"></p-sortIcon>
                </th>
                <th>
                    Billing Method
                    <p-columnFilter field="Billing Method" matchMode="in" display="menu" [showMatchModes]="false" [showOperator]="false" [showAddButton]="false">
                        <ng-template pTemplate="header">
                            <div class="px-3 pt-3 pb-0">
                                <span class="font-bold">Name Picker</span>
                            </div>
                        </ng-template>

                        <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                            <p-multiSelect [ngModel]="value" (ngModelChange)="filter($event)" [options]="BillingMethod" placeholder="Any" display="chip">
                                <ng-template let-option pTemplate="item">
                                    <span class="ml-1">{{ option }}</span>
                                </ng-template>
                            </p-multiSelect>
                        </ng-template>
                    </p-columnFilter>
                </th>
                <th pSortableColumn="TS Approver">
                    TS Approver
                    <p-sortIcon field="TS Approver"></p-sortIcon>
                    <p-columnFilter field="TS Approver" matchMode="in" display="menu" [showMatchModes]="false" [showOperator]="false" [showAddButton]="false">
                        <ng-template pTemplate="header">
                            <div class="px-3 pt-3 pb-0">
                                <span class="font-bold">Name Picker</span>
                            </div>
                        </ng-template>

                        <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                            <p-multiSelect [ngModel]="value" (ngModelChange)="filter($event)" [options]="TSapproverNames" placeholder="Any" display="chip">
                                <ng-template let-option pTemplate="item">
                                    <span class="ml-1">{{ option }}</span>
                                </ng-template>
                            </p-multiSelect>
                        </ng-template>
                    </p-columnFilter>
                </th>
                <th pSortableColumn="Project Manager">
                    Project Manager
                    <p-sortIcon field="Project Manager"></p-sortIcon>
                    <p-columnFilter field="Project Manager" matchMode="in" display="menu" [showMatchModes]="false" [showOperator]="false" [showAddButton]="false">
                        <ng-template pTemplate="header">
                            <div class="px-3 pt-3 pb-0">
                                <span class="font-bold">PM Picker</span>
                            </div>
                        </ng-template>
                        <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                            <p-multiSelect [ngModel]="value" (ngModelChange)="filter($event)" [options]="ProjectManagerNames" placeholder="Any" display="chip">
                                <ng-template let-option pTemplate="item">
                                    <span class="ml-1">{{ option }}</span>
                                </ng-template>
                            </p-multiSelect>
                        </ng-template>
                    </p-columnFilter>
                </th>

                <th pSortableColumn="WCT Status">
                    CWO Status
                    <p-sortIcon field="WCT Status"></p-sortIcon>
                    <p-columnFilter field="WCT Status" matchMode="in" display="menu" [showMatchModes]="false" [showOperator]="false" [showAddButton]="false">
                        <ng-template pTemplate="header">
                            <div class="px-3 pt-3 pb-0">
                                <span class="font-bold">Status Picker</span>
                            </div>
                        </ng-template>
                        <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                            <p-multiSelect [ngModel]="value" (ngModelChange)="filter($event)" [options]="CWOStatusOptions" placeholder="Any" display="chip">
                                <ng-template let-option pTemplate="item">
                                    <span class="ml-1">{{ option }}</span>
                                </ng-template>
                            </p-multiSelect>
                        </ng-template>
                    </p-columnFilter>
                </th>

                <th pSortableColumn="Currency">
                    Currency
                    <p-sortIcon field="Currency"></p-sortIcon>
                    <p-columnFilter field="Currency" matchMode="in" display="menu" [showMatchModes]="false" [showOperator]="false" [showAddButton]="false">
                        <ng-template pTemplate="header">
                            <div class="px-3 pt-3 pb-0">
                                <span class="font-bold">Currency Picker</span>
                            </div>
                        </ng-template>
                        <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                            <p-multiSelect [ngModel]="value" (ngModelChange)="filter($event)" [options]="CurrencyOptions" placeholder="Any" display="chip">
                                <ng-template let-option pTemplate="item">
                                    <span class="ml-1">{{ option }}</span>
                                </ng-template>
                            </p-multiSelect>
                        </ng-template>
                    </p-columnFilter>
                </th>
                <th pSortableColumn="Start Date">
                    Start Date
                    <p-sortIcon field="Start Date"></p-sortIcon>
                    <p-columnFilter type="date" field="Start Date Object" display="menu"></p-columnFilter>
                </th>
                <th pSortableColumn="End Date">
                    End Date
                    <p-sortIcon field="End Date"></p-sortIcon>
                    <p-columnFilter type="date" field="End Date Object" display="menu"></p-columnFilter>
                </th>
                <th>Jan</th>
                <th>Feb</th>
                <th>Mar</th>
                <th>Apr</th>
                <th>May</th>
                <th>Jun</th>
                <th>Jul</th>
                <th>Aug</th>
                <th>Sep</th>
                <th>Oct</th>
                <th>Nov</th>
                <th>Dec</th>
            </tr>
        </ng-template>

        <!-- Table Body -->
        <ng-template pTemplate="body" let-row let-i="rowIndex">
            <tr>
                <td>{{ row.Project }}</td>
                <td>{{ row['Work Contract Name'] }}</td>
                <td>{{ row['PWO Name'] }}</td>
                <td>{{ row['Resource Name'] }}</td>
                <td>{{ row['Last Ts Date'] }}</td>
                <td>{{ row['Allocated Hrs.'] }}</td>
                <td>{{ row['Consumed Hrs.'] }}</td>
                <td>{{ row['Rem. Hrs.'] }}</td>
                <td>{{ row['Billing Status'] }}</td>
                <td>{{ row['Rate Card'] }}</td>
                <td>{{ row['Position Role'] }}</td>
                <td>{{ row['Position Title'] }}</td>
                <td>{{ row['Resource Utilization'] }}</td>
                <td>{{ row['Hourly Rate'] }}</td>
                <td>{{ row['Billing Method'] }}</td>
                <td>{{ row['TS Approver'] }}</td>
                <td>{{ row['Project Manager'] }}</td>
                <td>{{ row['WCT Status'] }}</td>
                <td>{{ row['Currency'] }}</td>
                <td>{{ row['Start Date'] }}</td>
                <td>{{ row['End Date'] }}</td>

                <!-- Month Cells -->
                <td *ngFor="let month of ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']">
                    <ng-container *ngIf="row.monthData?.[month + '-' + currentYear]">
                        <div class="month-cell" [style.background-color]="row.monthData[month + '-' + currentYear].color">
                            {{ row.monthData[month + '-' + currentYear].day }}
                        </div>
                    </ng-container>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>
