<app-loader *ngIf="isLoading"></app-loader>
<div class="p-0" *ngIf="!isLoading">
    <!-- Filters -->
    <div class="mb-4 grid grid-cols-1 md:grid-cols-7 gap-2">
        <div>
            <label class="block mb-1 font-medium">CWO Start Date</label>
            <input type="date" [(ngModel)]="filters.startDate" class="w-full border p-2 rounded" />
        </div>
        <div>
            <label class="block mb-1 font-medium">CWO End Date</label>
            <input type="date" [(ngModel)]="filters.endDate" class="w-full border p-2 rounded" />
        </div>
        <div>
            <label class="block mb-1 font-medium">Status</label>
            <select [(ngModel)]="filters.status" class="w-full border p-2 rounded" disabled>
                <!-- <option value="">All</option> -->
                <option *ngFor="let status of uniqueStatuses" [value]="status" [selected]="status === 'Active'">{{ status }}</option>
            </select>
        </div>
        <div>
            <!-- <label class="block mb-1 font-medium">Geography</label>
            <select [(ngModel)]="filters.geography" class="w-full border p-2 rounded">
                <option value="">All</option>
                <option *ngFor="let geography of RegionList" [value]="geography">{{ geography }}</option>
            </select> -->
             <dropdown-filter-demo *ngIf="geographyOptionswc.length" [options]="geographyOptionswc"
                [(selectedValue)]="filters.geography" label="Geography"></dropdown-filter-demo>
        </div>
        <div>
            <label class="block mb-1 font-medium">Billing Method</label>
            <select [(ngModel)]="filters.billingMethod" class="w-full border p-2 rounded">
                <option value="">All</option>
                <option *ngFor="let method of BillingMethodList" [value]="method">{{ method }}</option>
            </select>
        </div>
        <div>
            <label class="block mb-1 font-medium">Customer</label>
            <select [(ngModel)]="filters.customer" class="w-full border p-2 rounded">
                <option value="">All</option>
                <option *ngFor="let customer of CustomerList" [value]="customer">{{ customer }}</option>
            </select>
        </div>
        <div class="flex items-end">
            <button (click)="applyFilters()" class="bg-blue-500 text-white py-2 rounded hover:bg-blue-600 w-full mr-2">Apply Filters</button>
            <button (click)="resetFilters()" class="bg-blue-500 text-white py-2 rounded hover:bg-blue-600 w-full">Reset Filters</button>
        </div>
    </div>

    <p-fluid class="grid grid-cols-12 gap-8">
        <!-- Pie Chart Card -->
        <div class="col-span-12 xl:col-span-6 mb-4">
            <app-pie-chart class="col-span-12 xl:col-span-6" [contracts]="filteredContracts" [selectedProject]="selectedProject" [selectedProjectIndex]="selectedProjectIndex" (projectSelected)="onProjectClick($event)"> </app-pie-chart>
        </div>

        <div class="col-span-12 xl:col-span-6 mb-4" *ngIf="selectedProject">
            <app-bar-chart
                *ngIf="selectedProject"
                [contracts]="selectedProjectData"
                [selectedProject]="selectedProject"
                [availableRoles]="availableRoles"
                [uniqueBillingStatuses]="uniqueBillingStatuses"
                [selectedRole]="selectedRole"
                [selectedBillingStatus]="selectedBillingStatus"
                (roleChanged)="onRoleChanged($event)"
                (billingStatusChanged)="onBillingStatusChanged($event)"
            >
            </app-bar-chart>
        </div>
    </p-fluid>
    <!-- Data Table -->
    <div class="p-mt-4" *ngIf="selectedProjectData.length">
        <app-project-table [data]="selectedProjectData"> </app-project-table>
    </div>
</div>
